header {
  background-color: #244751;
  color: #e8fdff;
}
body {
  font-family: "Slabo 27px", serif;
  background-color: whitesmoke;
}
main {
  background-color: white;
  padding: 16px;
}
.finstagram-post {
  margin-bottom: 48px;
}
.finstagram-post .user-info img {
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
}
a.photo {
  transition: padding 0.5s;
}
a.photo:hover {
  padding: 10px;
}
